#header{
    text-align: center;
    background-color:rgba(192, 255, 3, 0.861);
    color: rgb(0, 0, 0);
    width:1650px;
   top:0;
   position: sticky;
}
#main{
    background-color:rgba(0, 238, 255, 0.902) ;
    height: 1000px;
    width: 1650px;
}
h2{
    font-size:50px;
}
p{
    font-size:  20px;
    font-weight: bolder;
    
}
body{
    font-family: 'Heebo', sans-serif;
}
.copy_right_footer{
    width:1650px;
    text-align:center;
    color:rgb(0, 0, 0);
    font-size:10px;
    font-family:cursive;
    background-color: lavender;
    text-shadow: 5px 5px 5px  rgb(145, 145, 255) ;
    height: 50px;
    position: fixed;
    bottom:0px;
}